<databaseChangeLog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                   xmlns="http://www.liquibase.org/xml/ns/dbchangelog"
                   xsi:schemaLocation="http://www.liquibase.org/xml/ns/dbchangelog http://www.liquibase.org/xml/ns/dbchangelog/dbchangelog-3.4.xsd">
    <changeSet author="dominikDuda" id="0.1">
        <sqlFile path="0.1CreateTable.sql" relativeToChangelogFile="true" splitStatements="false"/>
    </changeSet>

    <changeSet author="dominikDuda" id="0.2">
        <sqlFile path="0.2AlterAdressTable.sql" relativeToChangelogFile="true" splitStatements="false"/>
    </changeSet>

</databaseChangeLog>
